*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.father{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: #454545;
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
                background: #FF6000;
                flex: 1 1 auto;
                height: 50px;
            }
            .nav{
                background: #FF6000;
                flex: 5 1 auto;
                height: 50px;
            }
            .social{
                background: #FF6000;
                flex: 1 1 auto;
                height: 50px;
            }
        .main-text{
            flex: 1 1 auto;
            background: #FFA559;
        }
        h1{
            background: #FFE6C7;
        }
    .section{
        background: #000;
    }
    .articles{
        background: #4e4e6a;
    }
        .article{
            background: #1f6cb0;
        }
        .navegation{
                background: #70a3c4;
            }
        .aside{
        background: #f73f52;
        }
            .adver{
                background: #FFea85;
            }
    .footer{
        background: #000;
    }
        .foot{
            background: #1f6cb0;
        }